[Unit]
Description=Esegui Tap-Go on Bus all'avvio
After=network.target

[Service]
ExecStart=/home/debian/Tap-Go/TapGoBus/venv/bin/python /home/debian/Tap-Go/TapGoBus/tap_go_bus.py
WorkingDirectory=/home/debian/Tap-Go/TapGoBus
Restart=always
User=debian

[Install]
WantedBy=multi-user.target
