[Unit]
Description=Esegui Tap&Go on Bus all'avvio
After=network.target

[Service]
ExecStart=bash /home/debian/Tap-Go/TapGoBus/vm/tap_go_bus.sh
WorkingDirectory=/home/debian/Tap-Go
Restart=always
User=debian
Environment=PATH=/home/debian/Tap-Go/TapGoBus/venv/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
