[Unit]
Description=Run the Bus Tracker on system startup
Tap&Go on Bus all'avvio
After=network-online.target

[Service]
ExecStart=bash /home/debian/Tap-Go/EdgeApplication/vm/bus_tracker.sh
WorkingDirectory=/home/debian/Line-on-the-edge
Restart=always
User=debian
Environment=PATH=/home/debian/Line-on-the-edge/EdgeApplication/venv/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
